waterChickens/nodered-flow.json
[
    {
        "id": "6f90ad3f.f78d24",
        "type": "subflow",
        "name": "Catch Errors",
        "info": "",
        "category": "",
        "in": [],
        "out": [],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "9210b844.66df98",
        "type": "debug",
        "z": "6f90ad3f.f78d24",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 630,
        "y": 220,
        "wires": []
    },
    {
        "id": "d3a4ec5c.756a9",
        "type": "catch",
        "z": "6f90ad3f.f78d24",
        "name": "",
        "scope": null,
        "uncaught": true,
        "x": 240,
        "y": 220,
        "wires": [
            [
                "9210b844.66df98"
            ]
        ]
    },
    {
        "id": "10ea1c42d8ecd774",
        "type": "tab",
        "label": "WaterFlows",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "14e3b0f6b00d4f28",
        "type": "server-state-changed",
        "z": "10ea1c42d8ecd774",
        "name": "Pump-Starts",
        "server": "f30f12dc.8a1af",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "switch.wemo_outdoor_plug",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "1",
        "forType": "num",
        "forUnits": "seconds",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 90,
        "y": 160,
        "wires": [
            [
                "92cc5a6ee64990f6"
            ],
            []
        ]
    },
    {
        "id": "ddc6c3f6da890118",
        "type": "function",
        "z": "10ea1c42d8ecd774",
        "name": "Build-Water1",
        "func": "msg.payload = new Array(\n  \"switch.manual_watering\",\n  \"switch.manual_watering\",\n)\nreturn msg;\n\n//  \"switch.manual_watering_2_off\",\n//  \"switch.manual_watering_3_off\",\n//  \"switch.manual_watering_4_on\",\n//  \"switch.manual_watering_4_off\",\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 220,
        "wires": [
            [
                "378dc221364bc699"
            ]
        ]
    },
    {
        "id": "378dc221364bc699",
        "type": "split",
        "z": "10ea1c42d8ecd774",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 470,
        "y": 280,
        "wires": [
            [
                "34ea6ce178939eeb"
            ]
        ]
    },
    {
        "id": "69e3d20f7d3eb756",
        "type": "change",
        "z": "10ea1c42d8ecd774",
        "name": "Cleanup",
        "rules": [
            {
                "t": "delete",
                "p": "data",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 160,
        "wires": [
            [
                "ddc6c3f6da890118"
            ]
        ]
    },
    {
        "id": "92cc5a6ee64990f6",
        "type": "ha-wait-until",
        "z": "10ea1c42d8ecd774",
        "name": "PumpOn",
        "server": "f30f12dc.8a1af",
        "version": 1,
        "outputs": 2,
        "entityId": "switch.wemo_outdoor_plug",
        "entityIdFilterType": "exact",
        "property": "state",
        "comparator": "is",
        "value": "on",
        "valueType": "str",
        "timeout": "30",
        "timeoutType": "num",
        "timeoutUnits": "seconds",
        "entityLocation": "data",
        "entityLocationType": "none",
        "checkCurrentState": true,
        "blockInputOverrides": true,
        "x": 240,
        "y": 160,
        "wires": [
            [
                "69e3d20f7d3eb756"
            ],
            []
        ]
    },
    {
        "id": "25791e8259c6c7d7",
        "type": "subflow:6f90ad3f.f78d24",
        "z": "10ea1c42d8ecd774",
        "name": "",
        "x": 90,
        "y": 440,
        "wires": []
    },
    {
        "id": "34ea6ce178939eeb",
        "type": "switch",
        "z": "10ea1c42d8ecd774",
        "name": "",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 280,
        "wires": [
            [
                "10592c72e11909c1"
            ],
            [
                "9d0a4db440020999"
            ]
        ]
    },
    {
        "id": "9d0a4db440020999",
        "type": "delay",
        "z": "10ea1c42d8ecd774",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 720,
        "y": 300,
        "wires": [
            [
                "f4a8db9eb4531c72"
            ]
        ]
    },
    {
        "id": "80021a11bcf8af3e",
        "type": "function",
        "z": "10ea1c42d8ecd774",
        "name": "Build-Water2",
        "func": "msg.payload = new Array(\n  \"switch.manual_watering_2\",\n  \"switch.manual_watering_2\"\n)\nreturn msg;\n\n//  \"switch.manual_watering_3_off\",\n//  \"switch.manual_watering_4_on\",\n//  \"switch.manual_watering_4_off\",\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 260,
        "wires": [
            [
                "378dc221364bc699"
            ]
        ]
    },
    {
        "id": "2e7dc2cc256a56a7",
        "type": "function",
        "z": "10ea1c42d8ecd774",
        "name": "Build-Water3",
        "func": "msg.payload = new Array(\n  \"switch.manual_watering_3\",\n  \"switch.manual_watering_3\"\n)\nreturn msg;\n\n//  \"switch.manual_watering_4_on\",\n//  \"switch.manual_watering_4_off\",\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 300,
        "wires": [
            [
                "378dc221364bc699"
            ]
        ]
    },
    {
        "id": "6a594efd4096592b",
        "type": "switch",
        "z": "10ea1c42d8ecd774",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "switch.manual_watering",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "switch.manual_watering_2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "switch.manual_watering_3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "switch.manual_watering_4",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 150,
        "y": 320,
        "wires": [
            [
                "80021a11bcf8af3e"
            ],
            [
                "2e7dc2cc256a56a7"
            ],
            [
                "0b65aea10b4905bb"
            ],
            [
                "8ccdc3f593354fef"
            ]
        ]
    },
    {
        "id": "10592c72e11909c1",
        "type": "api-call-service",
        "z": "10ea1c42d8ecd774",
        "name": "Water-on",
        "server": "f30f12dc.8a1af",
        "version": 5,
        "debugenabled": true,
        "domain": "switch",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "{{payload}}"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 720,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "f4a8db9eb4531c72",
        "type": "api-call-service",
        "z": "10ea1c42d8ecd774",
        "name": "Water-off",
        "server": "f30f12dc.8a1af",
        "version": 5,
        "debugenabled": true,
        "domain": "switch",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "{{payload}}"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 320,
        "y": 500,
        "wires": [
            [
                "6a594efd4096592b"
            ]
        ]
    },
    {
        "id": "8ccdc3f593354fef",
        "type": "api-call-service",
        "z": "10ea1c42d8ecd774",
        "name": "Power-off",
        "server": "f30f12dc.8a1af",
        "version": 5,
        "debugenabled": true,
        "domain": "switch",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.wemo_outdoor_plug"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 300,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "dd7d3d27fa900bfa",
        "type": "api-call-service",
        "z": "10ea1c42d8ecd774",
        "name": "",
        "server": "f30f12dc.8a1af",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.wemo_outdoor_plug"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 260,
        "y": 40,
        "wires": [
            [
                "fb6f693a91eab143"
            ]
        ]
    },
    {
        "id": "8b71a281f2b16696",
        "type": "inject",
        "z": "10ea1c42d8ecd774",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 40,
        "wires": [
            [
                "dd7d3d27fa900bfa"
            ]
        ]
    },
    {
        "id": "fb6f693a91eab143",
        "type": "debug",
        "z": "10ea1c42d8ecd774",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 40,
        "wires": []
    },
    {
        "id": "0b65aea10b4905bb",
        "type": "function",
        "z": "10ea1c42d8ecd774",
        "name": "Build-Water4",
        "func": "msg.payload = new Array(\n  \"switch.manual_watering_4\",\n  \"switch.manual_watering_4\"\n)\nreturn msg;\n\n//  \"switch.manual_watering_4_on\",\n//  \"switch.manual_watering_4_off\",\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 340,
        "wires": [
            [
                "378dc221364bc699"
            ]
        ]
    },
    {
        "id": "128fb86faba7410a",
        "type": "server-state-changed",
        "z": "10ea1c42d8ecd774",
        "name": "Water1",
        "server": "f30f12dc.8a1af",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "switch.manual_watering",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 190,
        "y": 100,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "33e79b21df5ae1a1",
        "type": "server-state-changed",
        "z": "10ea1c42d8ecd774",
        "name": "Water2",
        "server": "f30f12dc.8a1af",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "switch.manual_watering_2",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 310,
        "y": 100,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e776230047bd106e",
        "type": "server-state-changed",
        "z": "10ea1c42d8ecd774",
        "name": "Water3",
        "server": "f30f12dc.8a1af",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "switch.manual_watering_3",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 430,
        "y": 100,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "b3b25a9ee08bc427",
        "type": "server-state-changed",
        "z": "10ea1c42d8ecd774",
        "name": "Plug",
        "server": "f30f12dc.8a1af",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "switch.wemo_outdoor_plug",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "seconds",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 70,
        "y": 100,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d030056f725e286c",
        "type": "server-state-changed",
        "z": "10ea1c42d8ecd774",
        "name": "Water4",
        "server": "f30f12dc.8a1af",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "switch.manual_watering_4",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 550,
        "y": 100,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f30f12dc.8a1af",
        "type": "server",
        "name": "Home Assistant",
        "version": 2,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30"
    }
]